img{

    width: 100%;
}
body{
    font-family: "Gradl"
}
.parallax{
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
}
.background{
    position: absolute;
    height: 5000px;

}
.front1{
    position: relative;
    height: 700px;
    width: 100%;
    background-color:red;
    opacity: 0.5;
}
