img {

    width: 100%;
}
body {
    font-family: "Gradl";
    color: white;
    outline: black;
}
p {
    margin: 0;
    font-size: 4em;
    text-align: center;
    position: relative;

}
.textbox{
    margin-top: 37%;
    margin-left: 10%;
    position: absolute;

}
.parallax{
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective-origin-x: 100%;
}

}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.background{
    position: absolute;
    transform: translateZ(-3px) scale(2);

}
.front{
    transform: translateZ(0) scale(1);
    position: relative;
    height: 950px;
    width: 100%;
}
.front1{
   
    background-color:red;
    opacity: 0.2; 

}
.front3{
    background-color:green;
    opacity: 0.2;
}
