html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Scheherazade',Georgia, Times, "Times New Roman", serif;
}

img {
    text-align: center;

}
body {
    overflow: auto;
    color: white;
    /*background-color: #DEC868;*/
    /*background-color: #707070;*/
    /*background-color: #C3DEDC;*/
}

header{
    height: 4em;
    width: 100%;
    z-index: 1;
    background-color: #4B918D;
    color: #97946b;
    /*color: #C4B052;*/ 
}

footer{
    height: 5%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: #4B918D;
}

h1{
    font-size: 3em;
    margin: 0;
}

p {
    margin: 0;
    font-size: 2em;
    color: #DEC868;
}

a{
    text-decoration: none;
    color: #DEC868;
}

a:hover{
    color: #C3DEDC;
}

.textbox{
    text-align: center;
}

.sides{
    margin: 50%;
}

.sidecolor{
    background-color: green;
    height: 100%;
}

.parallax{
    perspective: 2px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective-origin-x: 100%;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin-x: 100%;
}

.background{
    padding-top: 5em;
    position: absolute;
    transform: translateZ(-1px) scale(2);

}
.psand{
    width: 100%;
    text-align: center;
    display: block;
}

.front{
    transform: translateZ(-2) scale(2);
    position: relative;
    height: 1024px;
    width: 100%;
}

.front1{   
    height: 100%;
    background-color:olive;
    opacity: 0.2; 
}

.front3{
    background-color:darkseagreen;
    opacity: 0.2;
}

.logo{
    text-align: center;
    padding: 0.2em;
    overflow: hidden;
    height: 100%;
}

.pure-menu-link {
   color: #DEC868; 
   font-size: 1.5em;
}
.pure-menu-active>.pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus{
    background-color: #5BB0AB;
}

.logo_top{
    text-indent: 1em;
}
